image: java:8-jdk

variables:
  GIT_STRATEGY: clone

before_script:
  - export GRADLE_USER_HOME='pwd'/.gradle
  - chmod +x ./gradlew

cache:
  paths:
    - .gradle/wrapper --gradle-version=6.6.1 --distribution-type=bin
    - .gradle/caches

stages:
  - build
  - build_prod
  - test
  - deploy
  - deploy_prod

build:
  image: gradle:alpine
  stage: build
  script: 
    - ./gradlew assemble
  artifacts:
    paths:
      - build/libs/*.jar
  tags:
    - ugrad
  only:
    - develop

build_prod:
  image: gradle:alpine
  stage: build
  script:
    - ./gradlew assemble
  artifacts:
    paths:
      - build/libs/*.jar
  tags:
    - ugrad
  only:
    - release

test:
  stage: test
  script:
    - ./gradlew check
  artifacts:
    when: always
    reports:
      junit:
        - build/surefire-reports/TEST-*.xml
  tags:
    - ugrad
  only:
    - develop

deploy:
  stage: deploy
  image: gradle:alpine
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_SSH_KEY" | tr -d '\r' | ssh-add -
  script:
    - file="application.properties"
    - echo "Driver=$DATABASE_DRIVER" > $file
    - echo "Password=$DATABASE_PASSWORD_TEST" >> $file
    - echo "Url=$DATABASE_URL_TEST" >> $file
    - echo "Username=$DATABASE_USERNAME_TEST" >> $file
    - cat $file
    - zip -r ${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHORT_SHA}.zip . -i /build/libs/*.jar
    - scp -r -o StrictHostKeyChecking=no ${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHORT_SHA}.zip "${DEPLOY_USER_TEST}@${DEPLOY_HOST}:${DEPLOY_DIR}/${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHORT_SHA}.zip"
    - scp -r -o StrictHostKeyChecking=no $file "${DEPLOY_USER_TEST}@${DEPLOY_HOST}:${DEPLOY_DIR}/${file}"
  tags:
    - ugrad
  only:
    - develop


deploy_prod:
  stage: deploy
  image: gradle:alpine
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_SSH_KEY_PROD" | tr -d '\r' | ssh-add -
  script:
    - file="application.properties" 
    - echo "Driver=$DATABASE_DRIVER" > $file
    - echo "Password=$DATABASE_PASSWORD_PROD" >> $file
    - echo "Url=$DATABASE_URL_PROD" >> $file
    - echo "Username=$DATABASE_USERNAME_PROD" >> $file
    - cat $file
    - zip -r ${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHORT_SHA}.zip . -i /build/libs/*.jar
    - scp -r -o StrictHostKeyChecking=no ${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHORT_SHA}.zip "${DEPLOY_USER_PROD}@${DEPLOY_HOST}:${DEPLOY_DIR}/${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHORT_SHA}.zip"
    - scp -r -o StrictHostKeyChecking=no $file "${DEPLOY_USER_PROD}@${DEPLOY_HOST}:${DEPLOY_DIR}/${file}"
  tags:
    - ugrad
  only:
    - release
